<!DOCTYPE html>
<html>
	<head>
		<title>Advanced Programing CA | Bookings & Contact </title>
		<meta charset="utf-8">
		<meta name="description" content="The Gillian Moore B&B located in Galway. Delivering a high quality service in comfort and hygiene since 2000. Awarded as a best B&B on the irish west coast in 2020.">
		<meta name="keywords" content="Bed and breakfast, B&B, hotel, motel, west coast, Galway, Cliffs, cliffs of moher, Ireland, travel, trip, leisure, holidays, connemara, aran island">
		<meta name="viewport" content="Width=devise-width, initial-scale=1">
		<meta name="og:title" property="og:title" content="The Gillian Moore | Bead & Breakfast">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	</head>



	<body>

		<div class="box-area">
			<header>
				<div class="wrapper">
					<div class="nav-links">
						<a href="../home/index.html">HOME</a>
						<a href="../rooms/index.html">ROOMS</a>
						<a href="../attractions/index.html">IN THE AREA</a>
						<a href="#">BOOKINGS & CONTACT</a>
					</div>
				</div>
			</header>
			<div class="banner-area"></div>


			<div class="content-area">
				<div class="main-content">

					<div class="prices">

						<h2>Rates & Booking</h2>

						<h3>Standard rate €35 per person sharing (€40 single).<br>
							Under 12s €20 per person.<br>
							No single surcharge<br>
						</h3>

						<h4>1x Triple Room; 2x Double Rooms; 2x Single Rooms available.<br>
							(max. capacity 09 guests for group bookings)
						</h4>
					</div>
				</div>


				<div class="form-outer-common">
					<div class="form-inner-common">
						<form id="booking-form">
							<label for="fname">First Name</label><br>
							<input type="text" name="fname" id="fname"><br>

							<label for="sname">Surname</label><br>
							<input type="text" name="sname" id="sname"><br>

							<label for="phone">Phone Number</label><br>
							<input type="tel" name="phone" id="phone" placeholder="xxx-xxx-xxxx" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>

							<label for="email">E-mail</label><br>
							<input type="email" name="email" id="email"><br>

							<label for="arrival">Arrival</label><br>
							<input type="datetime-local" name="arrival" id="arrival"><br>

							<label for="days">How many days</label><br>
							<input type="number" name="days" id="days" min="1" max="15"><br>

							<label for="guests">Guests</label><br>
							<input type="number"  name="guests" id="guests" min="1" max="6"><br>

							<label for="enquiry">Enquiry</label><br>
							<textarea name="enquiry" id="enquiry"></textarea> <br>


							<input type="submit" value="Submit">
						</form>
					</div>
				</div>

				<div id="social-medias-booking">
					<p>Follow us online<br>
						<a href="https://www.facebook.com" target="_window" class="fa fa-facebook"></a>
						<a href="https://twitter.com" target="_window" class="fa fa-twitter"></a>
						<a href="https://youtube.com" target="_window" class="fa fa-youtube"></a>
						<a href="https://instagram.com" target="_window" class="fa fa-instagram"></a>
						<a href="+353 0891234567" target="_window" class="fa fa-whatsapp"></a>
					</p>
				</div>


			</div>

			<div class="footer">
				<p>The Gillian Moore | Bed & Breakfast © copyright</p>
			</div>


		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/js/main.js"></script>

	</body>
</html>