<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <title>The IT School - ITS</title>
  </head>
  <body>
      <div class="header">
      <h1 id="headerMain">The IT School</h1><br>
        <h2>Dive into the Technology World!</h2><br>
        <h3>Come and discover this fascinating and growing field of Information Technology!<br> Become a qualified professional.</h3><br>
      </div><br>
      <div class="courList">
          <p id="coursesList">
            <a href="datascience">Data Science</a>
            <a href="softdev">Software Development</a>
            <a href="devops">DevOps</a>
            <a href="ixdesign">UI/UX Design</a>
            <a href="bchain">Blockchain</a>
            <a href="cybersec">Cybersecurity</a>
          </p>
      </div><br>


    <div class="content">
      <div style = "display:block" id="loginDv">
        <form action="/login" method="post" id="loginForm">
          <br/>
          <h3>Welcome</h3><br>
          <input placeholder="Email" type="email" name="email"><br/>
          <br/>
          <input placeholder="Password" name="password" type="password" id="pwd"><br/><br/>
          <input type="submit" value="Login" id="lbtn">
        </form>
      </div>

      <div id="errorMsg">
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
          {% endif %}
      </div>
    </div><br>
    <div id="footer">
      <p id="footerSM">
          <a href="https://www.facebook.com" target="_window" class="fa fa-facebook"></a>
          <a href="https://twitter.com" target="_window" class="fa fa-twitter"></a>
          <a href="https://youtube.com" target="_window" class="fa fa-youtube"></a>
          <a href="https://instagram.com" target="_window" class="fa fa-instagram"></a>
      </p>
      <p id="footerMsg">
         Follow Us | SS+ © copyright
      </p>
    </div>


    <script>

      let signBt = document.getElementById('signup');
      let formS = document.getElementById('signDv');
      let formL = document.getElementById('loginDv');

      signBt.addEventListener('click', () => {
        if (formS.style.display === 'none') {
          formS.style.display = 'block', formL.style.display = 'none';
        } else {
          formL.style.display = 'block', formS.style.display = 'none';
        }
      });

      function password() {
        let x = document.getElementById("pwd");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }

    </script>

  </body>
</html>