<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <title>My Application - Test</title>
  </head>
  <body>
      <div class="header">
      <h1>Welcome to my School</h1>
        <h3>The best online courses provider
        <button onClick="signBt" id="signup">SignUp</button>
        </h3>
      </div>
    <div class="content">
      <div style = "display:none" id="signDv">
        <form action="/signup" method="post" id="signupForm">
          <br/>
          <input placeholder="Username" type="text" name="username"><br/>
          <br/>
          <input placeholder="Email" type="email" name="email"><br/>
          <br/>
          <input placeholder="Password" name="password"><br/><br/>
          <input placeholder="Confirm Password" name="pwdC"><br/><br/>
          <input type="submit" value="Confirm" id="sUpbtn">
        </form>
      </div>

      <div style = "display:block" id="loginDv">
        <form action="/login" method="post" id="loginForm">
          <br/>
          <input placeholder="Email" type="email" name="email"><br/>
          <br/>
          <input placeholder="Password" name="password"><br/><br/>
          <input type="submit" value="Login" id="lbtn">
        </form>
      </div>

      <div id="errorMsg">
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
          {% endif %}
      </div>

    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
    </div>
    <footer>
      <div class="footer">
		<p id="footerSM">
            <a href="https://www.facebook.com" target="_window" class="fa fa-facebook"></a>
			<a href="https://twitter.com" target="_window" class="fa fa-twitter"></a>
			<a href="https://youtube.com" target="_window" class="fa fa-youtube"></a>
			<a href="https://instagram.com" target="_window" class="fa fa-instagram"></a>
			<a href="+353 0801234567" target="_window" class="fa fa-whatsapp"></a>
        </p>
        <p id="footerMsg">
            The School | Quality in Teaching © copyright
		</p>
      </div>
	</footer>

    <script>

      let signBt = document.getElementById('signup');

      let formS = document.getElementById('signDv');
      let formL = document.getElementById('loginDv');

      signBt.addEventListener('click', () => {
        if (formS.style.display === 'none') {
          formS.style.display = 'block', formL.style.display = 'none';
        } else {
          formL.style.display = 'block', formS.style.display = 'none';
        }
      });

    </script>

  </body>
</html>