<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="../css" href="main.css">
    <title>My Application - Test</title>
  </head>
  <body>

    <h1>Welcome to my School</h1>
      <h2>The best online courses provider
      <button onClick="signBt" id="signup">SignUp</button>
      </h2>

      <div style = "display:none" id="signDv">
        <form action="/signup" method="post" id="signupForm">
          <br/>
          <input placeholder="Username" type="text" name="username"><br/>
          <br/>
          <input placeholder="Email" type="email" name="email"><br/>
          <br/>
          <input placeholder="Password" name="password"><br/><br/>
          <input placeholder="Confirm Password" name="pwdC"><br/><br/>
          <input type="submit" value="Confirm" id="sUpbtn">
        </form>
      </div>

      <div style = "display:block" id="loginDv">
        <form action="/login" method="post" id="loginForm">
          <br/>
          <input placeholder="Email" type="email" name="email"><br/>
          <br/>
          <input placeholder="Password" name="password"><br/><br/>
          <input type="submit" value="Login" id="lbtn">
        </form>
      </div>

    {% if error %}
      <p class-"error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
<!--      <h3>{{info}}</h3>-->

    <script>

      let signBt = document.getElementById('signup');

      let formS = document.getElementById('signDv');
      let formL = document.getElementById('loginDv');

      signBt.addEventListener('click', () => {
        if (formS.style.display === 'none') {
          formS.style.display = 'block', formL.style.display = 'none';
        } else {
          formL.style.display = 'block', formS.style.display = 'none';
        }
      });

    </script>

  </body>
</html>
