<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <meta charset="UTF-8">
    <title>The IT School</title>
</head>
<body>
    <div class="dataheader">
        <h1><a href="/">The IT School</a></h1><br>
        <h2>Welcome to Software Development</h2><br>
    </div>

    <p id="logout">Click <a href="logout">here</a> to logout.</p><br>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
    <br><br>

    <div id="cont-Course">
        <ol>
            <li>Week - 1</li>
            <li>Week - 2</li>
            <li>Week - 3</li>
            <li>Week - 4</li>
            <li>Week - 5</li>
            <li>Week - 6</li>
            <li>Week - 7</li>
            <li>Week - 8</li>
        </ol>
    </div><br><br>

    <div id="footer">
      <p id="footerSM">
          <a href="https://www.facebook.com" target="_window" class="fa fa-facebook"></a>
          <a href="https://twitter.com" target="_window" class="fa fa-twitter"></a>
          <a href="https://youtube.com" target="_window" class="fa fa-youtube"></a>
          <a href="https://instagram.com" target="_window" class="fa fa-instagram"></a>
      </p>
      <p id="footerMsg">
         Follow Us | SS+ © copyright
      </p>
    </div>

<script>

</script>

</body>
</html>